body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;  
}

.canvas{
    width: 100%;
}

.upper-navigation{
    height: 5vh;
}

.lower-navigation{
    height: 5vh;
    width: 100%;
    border-top: 6px solid blueviolet;
    border-radius: 20px;
}

.upper-navigation .fa-user-circle{
    margin-left: 90%;
}

.upper-navigation .fa-bars{
    margin-left: 20px;
}

.fa-bars, .fa-user-circle{
    font-size: 20px;
    color:blueviolet;
    margin-top: 8px;
}

.fa-robot, .fa-tasks, .fa-map-marked-alt, .fa-ellipsis-h{
    margin-left: 17%;
    margin-top: 20px;
    font-size: 24px;
    color:blueviolet;
}
hr{
    border-width:2px;
    box-shadow: 5px;
}